<form (ngSubmit)="onSubmit()" [formGroup]="commentForm" class="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title" required />
    </div>
  
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea id="comment" class="form-control" formControlName="text" placeholder="Enter your comment" required maxlength="100"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
  