<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="learn" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
            <img src="{{ imagePaths[0] }}" alt="" class="img-fluid">
        </div>
        <div class="col-md p-10">
          <h2 class="text-center">Welcome</h2>
          <p class="lead" style="text-align: center; font-size: 1.2rem;">
            "Welcome to our art gallery! We are passionate about showcasing and sharing exceptional works of art from different genres and periods. Our mission is to provide inspiration and enjoyment through visual aesthetics and creativity.
          In our gallery, you can explore the richness of artistic expression, from classical masterpieces to contemporary experiments. Our collection encompasses a wide range of styles, techniques, and themes, offering you the opportunity to experience the diversity and depth of art.
          Each painting in our gallery carries a story, evokes emotions, and opens the doors to imagination. Enjoy beautiful landscapes, captivating portraits, abstract compositions, and much more. Our desire is to inspire you, awaken your creativity, and provide you with a unique experience in the world of art.
          Join us in discovering and celebrating the beauty of art. Our gallery is open to all art enthusiasts, regardless of their experience or knowledge of art. Thank you for being part of our artistic community and for sharing the joy of art with us."
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid">
    <h1 class="text-center mt-5 display-3 fw-bold">We are here for you</h1>
    <hr class="mx-auto mb-5 w-25">
    <div class="row mb-5">
      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div  class="card shadow" >
          <img src="{{ imagePaths[1] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Painting exhibition</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">
              Welcome to our art exhibition within the context of the driving school exhibition! Here, you can enjoy beautiful artworks inspired by the world of driving and traffic. Our exhibition showcases different styles and techniques, from realistic landscapes to abstract art. Discover the creativity and beauty of art through these carefully selected paintings that provide a unique experience. Join us and experience the magic of art in the driving school environment.
            </p>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div class="card shadow ">
          <img src="{{ imagePaths[2] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Web</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">
              Welcome to the world of web design! Our passion is creating functional and aesthetically pleasing websites that leave a strong impression. Through our creativity and expertise, we create web designs that stand out, are user-friendly, and provide an exceptional user experience. Whether it's modern minimalism, rich graphics, or interactivity, our gallery showcases a wide range of web design styles and inspires you to dream about all the possibilities that the web can offer.
            </p>

          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div class="card shadow ">
          <img src="{{ imagePaths[3] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Web</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">
              Welcome to the world of web design! We are passionate about creating websites that are not only functional but also visually stunning, leaving a lasting impression on visitors. With our creative skills and expertise, we craft web designs that are unique, user-friendly, and deliver an exceptional user experience. Whether it's embracing modern minimalism, incorporating rich graphics, or adding interactive elements, our gallery showcases a diverse range of web design styles that will inspire you to explore the boundless possibilities the web has to offer.
            </p>

          </div>

        </div>
      </div>

    </div>

  </div>

<app-footer></app-footer>

</body>
</html>
