.stars i
{
  color: #e6e6e6;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}


.stars i.active
{
  color: #ffc107; 
}

span
{
  font-size: 20px;
}

form
{
  margin:auto;
  height: auto;
  width: 40%;
  background-color: white;
  padding: 30px;
  margin-top: 10%;
  border-radius: 3px;
  border: 0.5px solid rgba(128, 128, 128, 0.685);
}

.place-page {
  min-height: calc(100vh - 100px) !important;
}

.toggle-button {
  background-color: transparent;
}

.product-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-details {
  flex: 1;
  padding-left: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.original-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.sale-price {
  color: #d9534f;
  font-size: 20px;
  font-weight: bold;
}

.sale-label {
  background-color: #f0ad4e;
  color: white;
  padding: 2px 5px;
  margin-left: 10px;
  border-radius: 3px;
}

.shipping-info, .product-condition, .product-quantity, .product-description {
  margin-top: 15px;
}

.product-condition select, .product-quantity input {
  
  padding: 10px;
  border-radius: 10px;
}

.add-to-cart {
  background-color: #f0ad4e;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart:hover {
  background-color: #ec971f;
}

::view-transition-image-pai.rating-bar-container {
  width: 100%;
  max-width: 400px;
}

.rating-row {
  display: flex;
  width: 80%;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.star {
  color: #ffc107; /* Gold color for stars */
  margin-right: 5px;
}

.rating-bar {
  flex: 1;
  height: 10px;
  background-color: #e0e0e0;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.filled-bar {
  height: 100%;
  background-color: #ffc107;
  border-radius: 5px;
}

.review-count {
  color: black;
  text-decoration: none;
}

.rating-bar-container {
  margin-bottom: 40px;
}

.comments-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 10px; /* space between the cards */
  padding: 10px;
}

@media (max-width: 1200px) {
  .comments-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .comments-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .comments-container {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}

app-comment-card {
  padding: 5px;
  justify-content: center;
  display: flex;
}


.add-comment-icon {
  cursor: pointer;
}
