<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="forma">
    <div class="alert alert-dark" role="alert" *ngIf="error">
     {{errorMsg}}
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" id="form2Example1" class="form-control" formControlName="email" />
    </div>
    <div *ngIf="email?.touched && email?.invalid">
      <p class="alert alert-danger " *ngIf="email?.errors?.email">Please enter a valid email form</p>
    </div>


    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" formControlName="password" />
    </div>

    <div *ngIf="password?.touched && password?.invalid">

    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-start">
        <a href="http://elmaaa-001-site1.ftempurl.com/forgot-password">Forgot password?</a>
      </div>
    </div>
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4"  (click)="login()" >Login</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="http://localhost:4200/register">Register</a></p>
    </div>

  </form>
</body>
</html>


