<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="d-flex justify-content-center mt-xl-5 "  *ngIf="error?.error" style="font-size: xx-large;">{{error.error}}</div>

  <form *ngIf="ifUser" [formGroup]="forma">

    <div class="d-flex justify-content-center" *ngIf="changed">
      <div class="alert alert-success">You changed successfully password</div>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">New password</label>
      <input type="text" id="form2Example1" class="form-control" formControlName="password" />
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="changePassword()">Change password</button>
  </form>

</body>
</html>
