h5
{
  margin-right: 15px;
}

.mask
{
  background-color: #AFBDD2;

}
#text h5
{
  text-decoration: none;
}
.text-dark.no-underline {
  text-decoration: none !important;
  border-bottom: none !important;
}


button
{
  border-radius: 1px;
  border: 0.5px solid gray;

}

#filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#filter-container label {
  margin-right: 10px;
}

#filter-container select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#filter-container select option {
  font-size: 14px;
}

#filter-container select:focus {
  outline: none;
  border-color: #2196f3;
}

li:active
{
  background-color: #AFBDD2;
}

.place-page {
  min-height: calc(100vh - 100px) !important;
  background-color: white !important;
}


.gallery-images {

  border: 1px solid black;
  border-radius: 10px;
  height: 350px;
  width: 280px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.gallery-images img:hover{

  transform: scale(1.1);
  transition: transform 0.5s;
}


.gallery{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 150px 0px 160px;
  gap: 20px
}

.toy-title:hover
{
  text-decoration: underline;
  cursor: pointer;
}




