<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="place-page">
  <section class="gallery-section">
    <div class="container-fluid py-5">
      <h1 class="text- mb-5" style="display: flex;justify-content: start;margin-left: 170px;font-family: 44Bitter, serif"><strong> {{ageBasedToys}} Months Age Based Toys</strong></h1>
      <h5 class="text-center mb-5" style="display: flex;justify-content: start;margin-left: 170px;font-family: 44Bitter, serif">Purchase one of our developmentally-stimulating play kits for children aged  {{ageBasedToys}} Months.  </h5> 

      <div class="gallery">
        <div class="d-inline-block gap-5 m-3" *ngFor="let item of galleryImages">
          <div class="gallery-images align-items-center bg-white" style="display: inline-block;">
            <img src='https://localhost:7036/images/{{item.putanja}}' style="height: 200px; width: 200px;" id="homepageImage"/>
            <div style="margin-top: 50px !important;">
            <p style="color: black; font-size: 16px;text-align: center;height: 30px;" class="toy-title" (click)="goToDetails(item.id)">{{item?.naziv}}</p>
            <div class="d-flex gap-5 justify-content-center">
              <!-- <p class="strikethrough">${{item?.umetnickoDelo?.cena}}</p>  -->
              <p class="slightly-larger">From ${{item?.cena}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>
  <div *ngIf="galleryImages.length == 0"><h1 style="text-align: center;">There are no toys</h1></div>
  </div>

  <nav aria-label="Page navigation example" style="display:flex; justify-content:center;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="setPrevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" (click)="setCurrPage1(1)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="setCurrPage1(2)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="setCurrPage1(3)">3</a></li>
      <li class="page-item">
        <a class="page-link" (click)="setNextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

<app-footer></app-footer>
</body>
</html>



