<div class="comment-card">
    <div class="header">
      <h3>{{ comment.title }}</h3>
      <span class="time-ago">{{ comment.date }}</span>
      <ng-container *ngIf="user.role[0] == 'Moderator'">
      <i class="fa-solid fa-trash" style="cursor:pointer" (click)="deleteComment(comment.id)"></i>
      </ng-container>
    </div>
    <p class="comment-text">
      {{ comment.text }}
    </p>
    <div class="footer">
      <span class="author">{{ comment.user.ime }} {{ comment.user.prezime }}</span>
      <div class="product">
        <span class="product-name" >{{ comment.product.naziv }}</span>
      </div>
    </div>
  </div>
  