.db-social .jumbotron {
  margin: 0;
  background: url(https://developer-blogs.nvidia.com/wp-content/uploads/2022/01/AdobeStock_327477069.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  color: #fff!important;
  height: 300px;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0,0,0,.3);
  padding: 0;
}

.container-fluid {
  padding: 30px 30px;
}

.db-social .head-profile {
  margin-top: -120px;
  border-radius: 4px;
  position: relative;
}

.widget {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}
.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.db-social .widget-body {
  padding: 1rem 1.4rem;
}
.widget-body {
  padding: 1.4rem;
}
.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.db-social .image-default img {
  width: 120px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 6px rgba(255,255,255,1);
  z-index: 10;
}
.db-social .infos {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
.db-social h2 {
  color: #2c304d;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
.db-social .location {
  color: #aea9c3;
  font-size: 1rem;
}
.db-social .follow .btn {
  padding: 10px 30px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-shadow, .btn-shadow a {
  color: #5d5386;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.15);
}
.db-social .head-profile .actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
}
.actions {
  z-index: 999;
  display: block;
}
.actions.dark .dropdown-toggle {
  color: #2c304d;
}
.actions .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}
.actions .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  box-shadow: 1px 1px 30px rgba(0,0,0,.15);
}

.actions .dropdown-menu .dropdown-item {
  padding: .5rem 0;
}
.actions .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.db-social .head-profile li:first-child {
  padding-left: 0;
}
.db-social .head-profile li {
  display: inline-block;
  text-align: center;
  padding: 0 1rem;
}
.db-social .head-profile li .counter {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 600;
}
.db-social .head-profile li .heading {
  color: #aea9c3;
  font-size: 1rem;
}

.card {
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 0 25px 20px -21px rgba(0,0,0,0.57);
  margin-top:30px;
}
.card-background {
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.card-background .image {
  border-radius: 6px;
}
.card .image {
  width: 100%;
  overflow: hidden;
  height: 260px;
  border-radius: 6px 6px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .image img {
  width: 90%;
}

.card-background .filter {
  opacity: 0.20;
  filter: alpha(opacity=20.00000000000001);
  border-radius: 6px;
}
.card .filter {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.68);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-background:hover .filter {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.card-background .content, .card-background .footer {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card-background .price {
  margin: 0;
  color: #ffffff;
  font-weight:normal;
}
.card-background .title {
  margin-top: 30px;
  font-weight: 400;
}
.card-background .title, .card-background .stats,
.card-background .category,
.card-background .description,
.card-background small, .card-background a {
  color: #ffffff;
}
.card .title {
  margin: 0 0 10px 0;
  color: #333333;
  font-weight: 300;
}
.card-background .footer {
  bottom: 0;
  top: auto;
  padding: 10px 15px;
  width: 100%;
  line-height: 40px;
  color: #ffffff;
}
.card .footer div {
  display: inline-block;
}
.card .author {
  font-size: 12px;
  text-transform: uppercase;
}

button
{
  background-color: rgba(128, 128, 128, 0.608);
  border-radius: 2px;
}

button:hover
{
  background-color: grey;
}



.col-md-3 {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .col-md-3 {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 90%;
  }
}

.card {
  width: 80%;
}

.card-background {
  position: relative;
}

.image {
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.content {
  padding: 10px;
}

.price {
  font-size: xx-large;
}

.footer {
  padding: 10px;
}

.stats {
  display: flex;
  justify-content: flex-end;
}

.fa-star {
  font-size: 25px;
}
