<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="forma">

    <!-- Email input -->
    <div class="d-flex justify-content-center" *ngIf="sent">
      <div class="alert alert-success">Chek your email inbox</div>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1" formControlName="email">Email address</label>
      <input type="email" id="form2Example1" class="form-control" formControlName="email" />
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="send()"  >Send Email</button>
  </form>
</body>
</html>
