/* home.component.css */
.carousel-image {
  position: relative;
    margin: auto;
    max-height: 85vh;
    overflow: hidden;

}

.carousel-control-prev,
.carousel-control-next {
  height: 30px; /* Prilagodite visinu prema potrebi */
  margin-top: 25%;
}

.welcome-text {
  font-size: 20px;
  text-align: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#moreAbout{
  width: 150px;
  background-color:#AFBDD2;
}
#moreAbout
{
  border: none;
}

#footer
{
  background-color: #AFBDD2;
}
