<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="d-flex flex-column bd-highlight mb-3" >
  <div class="carousel">
    <div *ngFor="let imagePath of imagePaths; let i = index" class="carousel-item" [class.active]="i === currentImageIndex">
      <img [src]="imagePath" class="d-block w-100 " style="height: 1000px !important;" alt="Slika" (click)="changeImage(i)">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="prevImage()" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" (click)="nextImage()" >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="card1 d-flex justify-content-center">
  <div class="card-body">
    <h1 class="display-5 ml-5 text-center">Massive Toy Clearance: 20-50% Off All Wooden Toys</h1>
    <p class="lead text-center mb-0" id="welcome-text">We're closing down our toy rental subscriptions, so our entire inventory is on clearance!
      We have a wide range of new (in the box) and gently used educational wooden toys for children from birth through age 3 and beyond.
      Categorized by age and ready for play!</p>
    <p class="text-center">Categorized by age and ready for play!</p>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg"  href="http://localhost:4200/blogs"  role="button" id="moreAbout">Shop Now</a>
    </p>
  </div>
</div>


<h1 style="text-align: start;margin-left: 120px;font-weight: bolder;"  *ngIf="top3.length > 0">Our Age-Based Wooden Toy Collections</h1>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container d-flex" style="flex-wrap:wrap;justify-content: space-around;" >
  <div class="col-md-3 me-1" *ngFor="let item of top3">
    <div class="card card-background align-items-center">
      <img src="{{item.image}}" style="height: 300px;width: 300px;margin-top: 50px;" id="homepageImage" (click)="goToGroupToys(item.age, item.groupId)"/>
      <div class="footer text-align-start">
            <h3 style="color: black; font-size: 22px;">{{item?.title}}</h3>
      </div>
    </div>
  </div>
</div>

<h1 style="text-align: start;margin-left: 120px;font-weight: bolder;">Explore our clearance toys for children aged 0-3+</h1>
  <p style="text-align: start;margin-left: 120px;">Purchase age-based Montessori and open-ended toys.</p>

  <div class="container-sale">
    <div class="d-inline-block" *ngFor="let item of toysOnSale">
      <div class="card-sale card-background-sale align-items-center" style="display: inline-block;">
        <p class="saleTitle">Sale</p>
        <img src='https://localhost:7036/images/{{item.umetnickoDelo.putanja}}' style="height: 200px; width: 200px;" id="homepageImage"/>
        <p style="color: black; font-size: 14px;text-align: center;height: 30px;" class="toy-title" (click)="goToDetails(item.id)">{{item?.umetnickoDelo?.naziv}}</p>
        <div class="d-flex gap-5 justify-content-center" >
          <p class="strikethrough">${{item?.umetnickoDelo?.cena}}</p> 
          <p class="slightly-larger">From ${{item?.cena}}</p>
        </div>
      </div>
    </div>
  </div>
  <div style="display:flex; justify-content: center;width: 100%;padding: 20px;">
    <button class="btn btn-primary btn-lg" style="margin-left: 120px;border-radius: 10px;font-size: medium;" id="moreAbout" (click)="goToAll()">View all</button>
  </div>
<app-footer></app-footer>
</body>
</html>
